.botao {
    padding: 0.3rem 3rem;
    border-radius: 20px;
    border-style: none;
    background: linear-gradient(90deg,
            rgb(160, 160, 160) 0%,
            rgb(255, 255, 255) 100%);
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

.botao:hover {
    background: linear-gradient(90deg,
            rgb(255, 255, 255) 0%,
            rgb(160, 160, 160) 100%);

}