.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

h1 {
    margin-bottom: 1rem;
}

h4 {
    margin: 1rem 5rem;
    color: #cbcbcb;
}

img {
    margin-top: 5rem;
    width: 900px;
    max-width: 100%;
    border: 20px solid #000;
}